* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {
	font-size: 20px;
}

html {
	overflow: hidden;
}

body {
	display: flex;
	font-family: var(--primary-font)
}

/*Dotted elements*/

.speciality__title {
	font-size: 86.8px;
	text-transform: uppercase;
	font-family: 'GilroyExtraBold',sans-serif;
	letter-spacing: 3.5px;
	color: #3a4160;
}

@media only screen and (min-width: 901px) and (max-width: 1680px) {

	.speciality__title {
		font-size: 2rem;
	}
}

.speciality__para {
	line-height: 18px;
}
